@import '../../../styles/vars.scss';

.wrap_url
{
    p
    {
        color: $grey_light
    }
}
.submit
{
    background-color: $blue;
    color: $white;

    &:hover
    {
        background-color: $blue_hover;
    }
}