@import '../../../styles/vars.scss';

.select
{
    display: flex;
    flex-direction: column;
    @extend %input-default-styles;

    & input
    {
        border: none !important;
    }

    & > .input, & > .list
    {
        display: grid;
    }
    & > .input
    {
        grid-template-columns: 3fr 1fr;

        & img
        {
            min-width: 30% !important;
        }
    }
    & > .list
    {
        flex-direction: column;
        display: flex;
        position: absolute;
        margin-top: 42px;
        row-gap: $gap-row;
        padding: 30px;
        border-radius: $border-radius-input;
        background-color: $white;
        text-align: center;

        & > span
        {
            cursor: pointer;
        }
    }
}