@import '../../../styles/vars.scss';

.wrap_preview
{
    display: flex;
    flex-direction: column;
    p
    {
        color: $grey_light;
    }
    .album
    {
        display: grid;
        grid-column-gap: $gap-column;
        grid-row-gap: $gap-row;
        
    }
}