@import '../../../styles/vars.scss';

.wrap_preview
{
    display: flex;
    flex-direction: column;
    p
    {
        color: $grey_light;
    }
    & img:not(.default_image)
    {
        width: 100%;
        border-radius: $border-radius-image;
    }
    .album
    {
        display: grid;
        grid-column-gap: $gap-column;
        grid-row-gap: $gap-row;
        grid-template-columns: repeat(5, 112px);
        grid-template-rows: repeat(fit-height, 60px);

        & img
        {
            border-radius: $border-radius-image;
            width: 100%;
        }
        
    }
}