@import './vars.scss';

@font-face {

  font-family: 'Rubik-Regular';
  src: local('Rubik Regular'), local('Rubik-Regular'),
       url('../public/fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {

  font-family: 'Rubik-SemiBold';
  src: local('Rubik SemiBold'), local('Rubik-SemiBold'),
       url('../public/fonts/Rubik-SemiBold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: $white;
}
input, textarea {
  @extend %input-default-styles;
  font-size: $font_size_input;
  outline: none !important;
  &:active, &:hover, &:focus
  {
    outline: inherit;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
h1
{
  font-size: 28px;
}
h5
{
  font-size: $font_size_input;
  font-weight: 500;
}
p {
  font-size: $font_size_input
}
a {
  color: $blue;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Rubik-Regular' !important;
}
.error_message
{
    color: $red;
    font-size: $font_size_input;
    grid-row: end;
}
.error_input
{
  @include border('', $red);
}
