@import './vars.scss';

@font-face {

  font-family: 'Rubik-Regular';
  src: local('Rubik Regular'), local('Rubik-Regular'),
       url('../public/fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {

  font-family: 'Rubik-SemiBold';
  src: local('Rubik SemiBold'), local('Rubik-SemiBold'),
       url('../public/fonts/Rubik-SemiBold.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $white;
}
input, textarea {
  font-size: $font_size_input;
  outline: none !important;
  &:active, &:hover, &:focus
  {
    outline: inherit;
  }
}
h1
{
  font-size: 28px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
